<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic">
    <link rel="stylesheet" href="fonts/PT Root UI Bold_Web/PT Root UI_Bold.css">
    <link rel="stylesheet" href="fonts/PT Root UI Medium_Web/PT Root UI_Medium.css">
    <title>Login</title>
</head>
<body>
    <form class="auth-card">
        <div class="auth-card__container">
            <header class="auth-card__header">Войти
                <p class="auth-card__text">
                    У вас еще нет аккаунта?
                    <a href="#">Зарегистрироваться</a>
                </p>
            </header>
            <label class="auth-card__label">
                <span class="auth-card__label-title">Введите ваш email:</span>
                <input class="auth-card__input" type="email">
            </label>
            <label class="auth-card__label">
                <span class="auth-card__label-title">Введите пароль:</span>
                <input class="auth-card__input" type="password">
            </label>
            <button class="auth-card__btn">
                <span class="auth-card__btn-text">Войти</span>
            </button>
            <p class="auth-card__restore-password">
                Забыли пароль? <a href="#">Восстановить</a>
            </p>

        </div>

    </form>
</body>
</html>